name: Status Check

on:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  status:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download previous result artifact
        id: download_artifact
        uses: actions/download-artifact@v4
        with:
          name: last_result
        continue-on-error: true

      - name: Load previous result
        id: load_result
        run: |
          if [ -f last_result.txt ]; then
            echo "PREV_RESULT=$(cat last_result.txt)" >> $GITHUB_ENV
          else
            echo "PREV_RESULT=none" >> $GITHUB_ENV
          fi

      - name: Run your task
        id: run_task
        run: |
          echo '{
            "query": "query HourlyUniques($zoneTag: string, $start: Time, $end: Time) {
              viewer {
                zones(filter: { zoneTag: $zoneTag }) {
                  httpRequests1hGroups(limit:1, filter: {datetime_gt:$start, datetime_leq:$end}, orderBy: [datetime_DESC]) {
                    uniq {uniques}
                    dimensions{datetime}
                  }
                }
              }
            }",
            "variables": {
              "zoneTag": "${{ secrets.CF_ZONE_ID }}}",
              "start": "'"$(date -u -d "yesterday" +"%Y-%m-%dT%H:%M:%SZ")"'",
              "end": "'"$(date -u +"%Y-%m-%dT%H:%M:%SZ")"'"
            }
          }' \
          | tr -d '\n' \
          | curl --silent "https://api.cloudflare.com/client/v4/graphql" -H "Authorization: Bearer ${{ secrets.CF_TOKEN }}" -H "Content-Type: application/json" --data @- \
          | jq '.data.viewer.zones[0].httpRequests1hGroups[0].uniq.uniques'
          > last_result.txt
          echo "Previous result: ${{ env.PREV_RESULT }}"
          echo "Current result: $(cat last_result.txt)"

      - name: Upload result artifact for next run
        uses: actions/upload-artifact@v4
        with:
          name: last_result
          path: last_result.txt
          retention-days: 1
